.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.thumbnail-div {
  position: relative;
}

.thumbnail {
  width: 100%;
  margin-bottom: 8px;
}

.video-timestamp {
  position: absolute;
  bottom: 20px;
  right: 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 4px 4px 4px 4px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
}

.video-preview {
  margin-bottom: 0;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture-div {
  vertical-align: top;
  cursor: pointer;
  position: relative;
}

.channel-picture {
  width: 36px;
  border-radius: 25px;
}

.channel-picture-div .channel-brief-info {
  position: absolute;
  width: 220px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  z-index: 300;
  padding: 10px 20px 10px 20px;
  background-color: white;
  opacity: 0;
  bottom: -60px;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  display: flex;
  font-family: Roboto, Arial;
  justify-content: space-between;
}

.channel-picture-div:hover .channel-brief-info {
  opacity: 1;
}

.channel-picture-brief {
  width: 50px;
  border-radius: 25px;
}

.channel-brief-info-lv1 {
  width: 60px;
  display: flex;
}

.channel-brief-info-lv2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.channel-link-lv2 {
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.lv2-subscribers {
  margin-top: 12px;
  color: rgb(96, 96, 96);
  font-size: 12px;
}
.video-info {
  vertical-align: top;
}

.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.video-link {
  color: rgb(0, 0, 0);
}

.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}

.channel-link {
  color: rgb(96, 96, 96);
}

.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 4px;
  margin-bottom: 12px;
}
